@{
    ViewData["Title"] = "Edition d'un contrat";
}
@using Isen.DotNet.Library.Models
@using Isen.DotNet.Library.Repositories.Interfaces
@model Historic
@inject IPlayerRepository _playerRepository
@inject IClubRepository _clubRepository
<h1>Edition d'un contrat</h1>

<div class="row">
    <div class="col-12">
        
        <form class="form-group" asp-action="Edit">

            <input type="hidden"
                   asp-for="Id"
                   value="@Model?.Id" />
            @{
                var startDateString = Model?.StartDate
                    .GetValueOrDefault(DateTime.MinValue)
                    .ToString("dd/MM/yyyy");
            }

            <div class="form-group">
                <label for="StartDate">Date de début</label>
                <input id="StartDate"
                       type="text"
                       class="form-control"
                       placeholder="Date de naissance"
                       asp-for="StartDate"
                       value="@startDateString" />
            </div>

            @{
                var endDateString = Model?.EndDate
                    .GetValueOrDefault(DateTime.MinValue)
                    .ToString("dd/MM/yyyy");
            }

            <div class="form-group">
                <label for="EndDate">Date de fin</label>
                <input id="EndDate"
                       type="text"
                       class="form-control"
                       placeholder="Date de naissance"
                       asp-for="EndDate"
                       value="@endDateString" />
            </div>

            <div class="form-group">
                <label for="HPlayer">Joueuse</label>
                @Html.DropDownListFor(
                    // Quel champ du modèle (Person) est concerné
                    p => p.HPlayerId,
                    // Création d'une liste
                    new SelectList(
                        // Données de la liste
                        _playerRepository.GetAll(),
                        // Champ correspondant à l'id
                        "Id",
                        // Champ correspondant au texte affiché
                        "Name"),
                    // Item par défaut
                    "Sélectionnez une joueuse...",
                    // Ckasse CSS
                    new { @class = "form-control" }
                    )
            </div>

            <div class="form-group">
                <label for="HPlayIn">Club</label>
                @Html.DropDownListFor(
                    // Quel champ du modèle (Person) est concerné
                    p => p.HPlayInId,
                    // Création d'une liste
                    new SelectList(
                        // Données de la liste
                        _clubRepository.GetAll(),
                        // Champ correspondant à l'id
                        "Id",
                        // Champ correspondant au texte affiché
                        "Name"),
                    // Item par défaut
                    "Sélectionnez un club...",
                    // Ckasse CSS
                    new { @class = "form-control" }
                    )
            </div>


            <button type="submit" class="btn btn-primary">Valider</button>
            <a class="btn btn-secondary"
               asp-controller="Person" asp-action="Index">Annuler</a>

        </form>

    </div>
</div>