@{
    ViewData["Title"] = "Edition d'une ville";
}
@using Isen.DotNet.Library.Models
@model City
<h1>Edition d'une ville (formulaire)</h1>

<div class="row">
    <div class ="col-12">
        <form class="form-group">
            <div class="form-group">
                <label for="cityName">Nom de la ville</label>
                <input 
                    id="cityName"
                    type="text" 
                    class="form-control" 
                    placeholder="City Name"
                    value="@Model?.Name" />
            </div>
            <div class="form-group">
                <label for="cityZipCode">Code Postal</label>
                <input 
                    id="cityZipCode"
                    type="text"
                    class="form-control" 
                    placeholder="City ZipCode" 
                    value="@Model?.ZipCode"/>
            </div>
            <button type="submit" class="btn btn-primary">Valider</button>
            <button class="btn btn-danger"
            asp-controller="City"
            asp-action="Index">Annuler</button>
        </form>
    </div>
</div>