@{
    ViewData["Title"] = "Toutes les villes";
}

<h1>Toutes les villes </h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nom</th>
      <th scope="col">Code Postal</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Toulon</td>
      <td>83000</td>
      <td>
          <a href="#" class="btn btn-outline-primary">Modifier</a>
          <a href="#" class="btn btn-outline-danger">Supprimer</a>
      </td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Nice</td>
      <td>06000</td>
      <td>
          <a href="#" class="btn btn-outline-primary">Modifier</a>
          <a href="#" class="btn btn-outline-danger">Supprimer</a>
      </td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Marseille</td>
      <td>13000</td>
      <td>
          <a href="#" class="btn btn-outline-primary">Modifier</a>
          <a href="#" class="btn btn-outline-danger">Supprimer</a>
      </td>
    </tr>
  </tbody>
</table>